body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0.3em 0 0 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
  img {
    float: left;
    margin-right: 2em;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.7);
  }
}
